---
interface Props {
  title: string;
  description: string;
  imageSrc: string;
  imageAlt: string;
  tags: string[];
}

const { title, description, imageSrc, imageAlt, tags } = Astro.props;
---

<div class="card">
  <div class="card-image">
    <img src={imageSrc} alt={imageAlt} />
  </div>
  <div class="card-content">
    <h3 class="card-title">{title}</h3>
    <p class="card-description">
      {description}
    </p>
    <div class="card-tags">
      {tags.map((tag) => <span class="tag">{tag}</span>)}
    </div>
  </div>
</div>
